
{% extends 'phdbase_dashboard.html' %}
{% load static %} 
{% block content %}

  <!-- Include jQuery and DataTables CSS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <style>
    .dataTables_length{
      margin-left:3%;
     
    }
    .dataTables_filter{

      margin-right:3%;
    }
    .dataTables_info{

      margin-left:3%;
    }
    div.dataTables_wrapper div.dataTables_length select{
      width: 46% !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button{
      padding: .2em .5em;
      margin-left:2px!important;
    }
  </style>
<div class="card">  
  <h5 class="card-header pb-0 text-md-start text-center">MBBS List</h5>
  <div class="card-datatable text-nowrap">
    <table class="datatables-ajax table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Document Id</th>
          <th>Proforma Application Id</th>
          <th>Institute Name</th>
          <th>Institute District</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="showadmin_users">
        <tr>
          <td>1</td>
          <td>PHD2024240156</td>
          <td>PHDMPHW20240156</td>
          <td>Arun Nursing College</td>
          <td>Vellore</td>
          <td><a class="btn btn-sm btn-primary" href="view_application">View</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>PHD2024240157</td>
          <td>PHDMPHW20240157</td>
          <td>Indira Nursing College</td>
          <td>Kanchipuram</td>
          <td><a class="btn btn-sm btn-primary" href="view_application">View</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>PHD2024240158</td>
          <td>PHDMPHW20240158</td>
          <td>KVR Nurinsg Home</td>
          <td>Thiruvallur</td>
          <td><a class="btn btn-sm btn-primary" href="view_application">View</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>PHD2024240158</td>
          <td>PHDMPHW20240158</td>
          <td>Ramachandra Hospital</td>
          <td>Chenanai</td>
          <td><a class="btn btn-sm btn-primary" href="view_application">View</a></td>
        </tr>
        <!-- Add more rows here as needed -->
      </tbody>
    </table>
  </div>
</div>

<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function() {
    $('.datatables-ajax').DataTable({
      "pageLength": 15,
      "lengthMenu": [  
        [10, 25, 50, 100], 
        ['10', '25', '50', '100']
      ],
      "pagingType": "simple_numbers", 
    });
   
  });
</script>
{% endblock content %}
</body>
</html>
