{% extends 'phdbase_dashboard.html' %}
{% block content %}


<a href="officer_dashboard"><button type="button" class="btn btn-primary">Back </button></a>
<br><br>

<!-- Include jQuery and DataTables CSS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<div class="card">  
<h5 class="card-header pb-0 text-md-start text-center">Inspection Pending List</h5>
<div class="card-datatable text-nowrap">
  <table class="datatables-ajax table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Document Id</th>
        <th>Proforma Id</th>
        <th>Institute Name</th>
        <th>District</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="showadmin_users">
      <tr>
        <td>1</td>
        <td>PHD2024240157</td>
        <td>PHD2024240158</td>
        <td>Indira Nursing College</td>
        <td>Kanchipuram</td>
        <td>
        <a class="btn btn-sm btn-primary" href="io_app_progress">View</a></td>
      </tr>
     
      <!-- Add more rows here as needed -->
    </tbody>
  </table>
</div>
</div>

<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
  $('.datatables-ajax').DataTable({
    "pageLength": 15,
    "lengthMenu": [  
      [10, 25, 50, 100], 
      ['10', '25', '50', '100']
    ],
    "pagingType": "simple_numbers", 
  });
 
});
</script>
{% endblock content %}
</body>
</html>

