
{% for menu in menus %}
    {% if menu.menu_type == "dropdown" and menu.menu_parent_id == 0 %}
        <li class="menu-item" id="menu-{{ menu.psk_id }}">
        
        {% if menu.menu_href %}
            <a href="#" id="{{  menu.psk_id  }}" class="menu-link menu-toggle" onclick="myFunction('{{ menu.psk_id }}')">
            {% else %}
            <a href="#" id="{{  menu.psk_id  }}" class="menu-link menu-toggle">
                {% endif %}
                <i class="menu-icon tf-icons bx {{ menu.icon_class }}"></i>
                <div data-i18n="{{ menu.menu_name }}">{{ menu.menu_name }}</div>
            </a>

            <ul class="menu-sub" id="submenu-{{ menu.psk_id }}">
                {% for child in child_menus %}
                    {% if child.menu_parent_id == menu.psk_id %}
                        {% include 'child_menu.html' with child=child %}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endfor %}


<script>

function myFunction(psk_id) {
    {#alert("Menu item clicked with ID: " + psk_id);#}
    // Redirect to the desired URL after toggle
    let baseUrl = "{% url 'menu_iframe' 0 %}".replace('0', psk_id);
    window.location.href = baseUrl;
}
</script>