
<ul class="menu-inner py-1">
    {% if menus %}
        {% for menu in menus %}
            {% if menu.menu_parent_id == 0 and menu.menu_type != "dropdown" %}
                <li class="menu-item" id="menu-{{ menu.psk_id }}">
                    <a href="{% url 'menu_iframe' menu.psk_id %}" class="menu-link">
                        <i class="menu-icon tf-icons bx {{ menu.icon_class }}"></i>
                        <div data-i18n="{{ menu.menu_name }}">{{ menu.menu_name }}</div>
                    </a>
                </li>
            {% endif %}
        {% empty %}

        {% endfor %}
    {% else %}
       
    {% endif %}
</ul>
 