{% extends 'layout.html' %}

{% block content %}
<!-- Back Button -->


<h4 class="fw-bold py-3 mb-4">User Master</h4>

<!-- Add New Button -->
<a href="{% url 'phpm_Inspection_create' %}" class="btn btn-primary">
    <span class="tf-icons bx bx-list-plus"></span>&nbsp; Add
</a>


<!-- Data Table -->
<div class="card mt-4">
    <div class="table-responsive text-nowrap mt-3">
        <table class="table py-3" id="example">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>HUD District</th>
                    <th>Designation</th>
{#                    <th>Office Contact Number</th>#}
                    <th>Office Email ID</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody class="table-border-bottom-0">
                {% for obj in response_data %}

                    <tr>
                        <td>{{ obj.officer_name }}</td>
                        <td>
                            {% for hud in hud_data %}
                                {% if obj.officer_district_psk_id == hud.psk_id %}
                                    {{ hud.hud_name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ obj.officer_designation }}
                        </td>


{#                        <td>{{ obj.officer_contact_no }}</td>#}
                        <td>{{ obj.officer_email }}</td>
                        <td>
                            {% if obj.active %}
                                <span class="badge bg-label-success">Active</span>
                            {% else %}
                                 <span class="badge bg-label-secondary">In-Active</span>
                            {% endif %}
                        </td>


                        <td>



                            <!-- Edit Button -->
                            <a href="{% url 'phpm_Inspection_update' obj.psk_id %}" class="btn btn-sm btn-icon btn-primary">
                                <i class="bx bxs-edit"></i>
                            </a>

                            <!-- Delete Button (Triggers Modal) -->
                            <button type="button" class="btn btn-sm btn-icon btn-danger" data-bs-toggle="modal" data-bs-target="#modalToggle{{ obj.psk_id }}">
                                <i class="bx bxs-trash"></i>
                            </button>



                        </td>
                    </tr>

                    <!-- Delete Confirmation Modal -->
                    <div class="modal fade" id="modalToggle{{ obj.psk_id }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this user ?
                                </div>

                                <div class="modal-footer">
                                    <!-- Confirm Deletion -->
                                    <a href="{% url 'phpm_Inspection_delete' obj.psk_id %}" class="btn btn-danger">Yes</a>
                                    <!-- Cancel Deletion -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}