
{% extends 'phdbase.html' %}
{% load static %} 
{% block content %}



{#      <div class="container-xxl flex-grow-1 container-p-y">#}
{#    <div class="card">#}
{#        <h5 class="card-header pb-0 text-md-start text-center">Upload Download PDF</h5>#}
{#        <div class="card-datatable text-nowrap">#}
{#            <table class="datatables-ajax table">#}
{#                <thead>#}
{#                <tr>#}
{##}
{#                    <th>Application ID</th>#}
{#                    <th>Action</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{##}
{#                {% for obj in application_status_upload_lists %}#}
{#                    <tr>#}
{#                      <td>#}
{##}
{##}
{##}
{#                                    {{ obj.document_id }}#}
{##}
{#                    </td>#}
{##}
{##}
{##}
{#                        <td>#}
{##}
{#                            {% if obj.application_status == "Downloaded" %}#}
{#                            <a href="#" class="btn btn-sm btn-icon btn-success" data-bs-toggle="modal"#}
{#                               data-bs-target="#modalToggle{{ obj.psk_id }}">#}
{#                                <span class="tf-icons bx bx-upload"></span>#}
{#                            </a>#}
{#                            {% else %}#}
{##}
{#                                <a href="#" class="btn btn-sm btn-icon btn-info" data-bs-toggle="modal"#}
{#                               data-bs-target="#modalToggle2{{ obj.psk_id }}">#}
{#                                <span class="tf-icons bx bx-info-square"></span>#}
{#                            </a>#}
{##}
{#                            {% endif %}#}
{#                        </td>#}
{##}
{##}
{#                        <div class="modal fade" id="modalToggle{{obj.psk_id  }}" tabindex="-1" aria-hidden="true">#}
{#                            <div class="modal-dialog">#}
{##}
{#                                <div class="modal-content">#}
{#                                    <div class="modal-header">#}
{#                                        <h5 class="modal-title" id="modalToggleLabel">Pdf Upload</h5>#}
{#                                        <button type="button" class="btn-close" data-bs-dismiss="modal"#}
{#                                                aria-label="Close"></button>#}
{#                                    </div>#}
{#                                    <div class="modal-body">#}
{#                                        <form method="POST" action="{% url 'upload_pdf_save' obj.psk_id %}"#}
{#                                              enctype="multipart/form-data">#}
{#                                            {% csrf_token %}#}
{#                                            <div class="mb-3">#}
{#                                                <label for="upload_photo" class="form-label">PDF Upload</label>#}
{#                                                <input accept="application/pdf" class="form-control" id="upload_pdf_file"#}
{#                                                       name="upload_pdf_file" type="file">#}
{#                                            </div>#}
{#                                    </div>#}
{#                                    <div class="modal-footer">#}
{#                                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>#}
{#                                        <button type="submit" class="btn btn-primary">Upload</button>#}
{#                                    </div>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#                    </tr>#}
{#                {% endfor %}#}
{##}
{#                </tbody>#}
{##}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{##}
{#  </div>#}


      <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header pb-0 text-md-start text-center">Upload Download PDF</h5>
        <div class="card-datatable mt-4 text-nowrap">
            <table class="table table-sm" id="example">
                <thead>
                <tr>
                    <th class="fw-bold">Application ID</th>
                       <th class="fw-bold">Status</th>
                    <th class="fw-bold">Course Type</th>
                    <th class="fw-bold">Course Name</th>
                    <th class="fw-bold">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in application_status_upload_lists %}
                    <tr>
                      <td>{{ obj.document_id }}</td>

                        <td>
                            {% if obj.application_status == "Downloaded"  %}
                            <span class="badge rounded-pill bg-label-danger">{{ obj.application_status }}</span>
                            {% elif obj.application_status == "Uploaded" %}
                             <span class="badge rounded-pill bg-label-success">{{ obj.application_status }}</span>
                            {% endif %}
                        </td>

                        {% for course in course_master %}
                            {% if course.psk_id == obj.course_type_psk_id %}
                                <td>{{ course.course_type }}</td>
                                <td>{{ course.course_name }}</td>

                            {% endif %}
                        {% endfor %}


                        <td>


                            {% if obj.application_status == "Uploaded" %}

                                  <a href="{% url 'view_uploaded_pdf' obj.psk_id %}" class="btn btn-icon" target="_blank">
                                        <i class="icon-base bx bx-show icon-md"></i>
                                    </a>

                                <a href="#" class="d-inline-block" data-bs-toggle="tooltip" data-bs-html="true"
                                   aria-label="Already Uploaded PDF."
                                   data-bs-original-title="Already Uploaded PDF.">
                                    <span class="badge p-1_5 rounded-pill bg-label-success">
                                        <i class="icon-base icon-16px bx bx-check"></i>
                                    </span>
                                </a>




                            {% elif obj.application_status == "Downloaded" %}
                                <a href="#" class="btn btn-sm btn-icon btn-success" data-bs-toggle="modal"
                                   data-bs-target="#modalToggle{{ obj.psk_id }}">
                                    <span class="tf-icons bx bx-upload"></span>
                                </a>
                            {% endif %}
                        </td>


                    <div class="modal fade" id="modalToggle{{obj.psk_id  }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalToggleLabel">Pdf Upload</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="{% url 'upload_pdf_save' obj.psk_id %}"
                                              enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="upload_photo" class="form-label">PDF Upload</label>
                                                <input accept="application/pdf" class="form-control" id="upload_pdf_file"
                                                       name="upload_pdf_file" type="file">
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Upload</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </tr>
                {% endfor %}
                </tr>
                </tbody>

            </table>
        </div>
    </div>

  </div>


{% endblock content %}


