{% extends 'phdbase.html' %}

{% block content %}


<section class="section-py">
      <div class="container">
        <h4 class="text-center mb-6">Help Page: Introduction</h4>
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="row g-6">
              <div class="col-12">
                <p>Welcome to the Tamil Nadu Public Health Department's tie-up application portal. This guide provides all the necessary information for nursing, ANM, and medical colleges interested in collaborating with public health centers across Tamil Nadu. Our goal is to establish valuable partnerships that support the public healthcare system and provide education and training opportunities for students.</p>
            </div>
                <p class="lead text-center mb-5">
          </div>
        </div>
      </div>
    </section>

{% endblock content %}