{% extends 'phdbase.html' %}

{% block content %}


<section class="section-py">
      <div class="container">
        <h4 class="text-center mb-6">Help Page: Mandatory Documents:</h4>
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="row g-6">
             
                <p>The following documents are required for the application process:</p>
                <ul>
                  <li>College Affiliation Certificate from the relevant educational authority</li>
                  <li>Accreditation Certificate from the Medical/Nursing Council or equivalent body</li>
                  <li>Details of faculty, infrastructure, and other resources at the institution</li>
                  <li>Previous record of collaboration with healthcare facilities (if applicable)</li>
                  <li>Valid Registration Certificate of the institution</li>
                  <li>Letter of Intent (LOI) for tie-up with Tamil Nadu Public Health Centers</li>
                  <li>Payment Proof (Receipt of application fee)</li>
                </ul>
                <p>All documents must be provided in clear and legible formats. Incomplete applications will not be processed.</p>
          
                <p class="lead text-center mb-5">
          </div>
        </div>
      </div>
    </section>

{% endblock content %}