{% extends 'phdbase.html' %}

{% block content %}


<section class="section-py">
      <div class="container">
        <h4 class="text-center mb-6">Help Page: Payment Detail</h4>
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="row g-6">
              <div class="col-12">
                <p>An entry fee is required to process your application. Here are the details:</p>
        <ul>
          <li>Entry Fee for Tie-Up Application: </li>
          <li>Payment Methods: You can make the payment either through the official online payment portal or via Demand Draft (DD) payable to "Tamil Nadu Public Health Department."</li>
          <li>Once the payment is made, please upload the payment receipt or DD proof along with your application form in the "Document Upload" section.</li>
        </ul>
        <p>For online payments, ensure that you save the transaction ID or screenshot as proof of payment.</p>
            </div>  
                <p class="lead text-center mb-5">
          </div>
        </div>
      </div>
    </section>

{% endblock content %}