{% extends 'phdbase.html' %}

{% block content %}


<section class="section-py">
      <div class="container">
        <h4 class="text-center mb-6">Help Page: Who Should Apply</h4>
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="row g-6">
              <div class="col-12">
                <p>This tie-up program is open to:</p>
        <ul>
          <li>Accredited Nursing Colleges offering Diploma and Degree Programs in Nursing</li>
          <li>ANM (Auxiliary Nurse Midwifery) Training Institutes</li>
          <li>Medical Colleges that wish to collaborate with public health centers for clinical practice, training, and research opportunities</li>
        </ul>
        <p>If you belong to any of these categories and wish to establish a partnership, please follow the application process outlined in this guide.</p>
            </div>
                <p class="lead text-center mb-5">
          </div>
        </div>
      </div>
    </section>

{% endblock content %}