



{% extends 'phdbase.html' %}
{% load static %}
{% block content %}





  {% if application_obj.application_status == "Draft" %}
   <h5 class="mt-2">Application / Nursing Proforma Details / <span class="badge bg-label-danger">{{ application_obj.application_status }}</span></h5>
    {% else %}
   <h5 class="mt-2">Application / Nursing Proforma Details / <span class="badge bg-label-success">{{ application_obj.application_status }}</span></h5>
{% endif %}


    <div class="card mb-6">
      <div class="card-header p-0 nav-align-top">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
                   <a class="nav-link" href="{% url 'nursing_update' rec_parent_id %}">

              Institute Details
            </a>
          </li>
          <li class="nav-item" role="presentation">
{#            <button class="nav-link" data-bs-toggle="tab" id="phc-tab" data-bs-target="#form-tabs-student" role="tab" aria-selected="false" tabindex="-1">#}
{#              Student Details#}
{#            </button>#}
                <a class="nav-link" href="{% url 'nursing_student' rec_parent_id %}">
              Student Details
            </a>

          </li>
{#          <li class="nav-item" role="presentation">#}
{#            <button class="nav-link" data-bs-toggle="tab" id="phc-tab" data-bs-target="#form-tabs-phc" role="tab" aria-selected="false" tabindex="-1">#}
{#            PHC Details#}
{#            </button>#}
            <li>   <a class="nav-link" href="{% url 'nursing_phc_form' rec_parent_id %}">
             PHC Details
            </a></li>



            <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#form-tabs-personal" role="tab" aria-selected="true">
           Final Submission
            </button>
          </li>

        </ul>
      </div>

      <div class="tab-content">

          <div class="tab-pane fade active show" id="form-tabs-personal" role="tabpanel">

             <div class="card-body pt-0 px-0">

{#    <h6>CheckList</h6>#}
     <form method="post">
        {% csrf_token %}

      <table class="table table-bordered table-sm mt-3">
        <thead class="table-secondary thead-sm">
            <tr>
                <th class="text-center fw-bold">#</th>
                <th class="text-center fw-bold">CheckList</th>
                <th class="text-center fw-bold">G.O Number</th>
                <th class="text-center fw-bold">G.O Date</th>
                <th class="text-center fw-bold">PDF Uploaded</th>
                <th class="text-center fw-bold">PDF Size</th>
                <th class="text-center fw-bold">PDF Page Count</th>
                <th class="text-center fw-bold">View PDF</th>
            </tr>
        </thead>
        <tbody>
            {% for key, data in check_list_data.items %}
                <tr>
                    <td class="fw-bold">
                        <input class="form-check-input" type="checkbox" name="{{ key }}" id="{{ key }}" required>
                    </td>

{#                <td class="fw-bold">#}
{#                        {% if data.pdf_uploaded == "Yes" or data.pdf_uploaded == "NA" %}#}
{#                            <input class="form-check-input" type="checkbox" name="{{ key }}" id="{{ key }}" required>#}
{#                        {% else %}#}
{#                            <input class="form-check-input" type="checkbox" id="{{ key }}" disabled>#}
{#                            <input type="hidden" name="{{ key }}" value="">#}
{#                        {% endif %}#}
{#                    </td>#}

                    <td>{{ data.label }}</td>
                    <td class="fw-bold">{{ data.go_number }}</td>
                    <td class="fw-bold">
                        {% if data.date %}
                        {{ data.date }}
                        {% else %}
                            NA
                        {% endif %}
                    </td>
                    <td class="fw-bold">
                        {% if data.pdf_uploaded == "Yes" %}

                        <span class="badge p-1_5 rounded-pill bg-label-success"><i class="icon-base icon-16px bx bx-check"></i></span>
                        {% elif data.pdf_uploaded == "NA" %}
                            {{ data.pdf_uploaded }}

                            {% else %}
                      <span class="badge p-1_5 rounded-pill bg-label-danger"><i class="icon-base icon-16px bx bx-x"></i></span>
                        {% endif %}

                    </td>

                    <td class="fw-bold">{{ data.pdf_size }}</td>
                    <td class="fw-bold">{{ data.pdf_page_count }}</td>

                    <td class="fw-bold">
                        {% if data.pdf_name == "NA" %}
                            {{ data.pdf_name }}
                        {% else %}
                            <a target="_blank"
                               href="{{ PlatformURL }}crudapp/view/media/phpm02_application_301_master_dc1_media/{{ data.psk_id }}"
                               class="text-decoration-underline">
                                {{ data.pdf_name }}
                            </a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <div class="col-12 d-flex justify-content-between">
        <a class="btn btn-label-secondary btn-prev" href="{% url 'mbbs_phc_form' rec_parent_id %}">
            <i class="icon-base bx bx-left-arrow-alt scaleX-n1-rtl icon-sm ms-sm-n2 me-sm-2"></i>
            <span class="align-middle d-sm-inline-block d-none">Previous</span>
        </a>

        {% if application_obj.application_status == "Draft" %}
            <button class="btn btn-success btn-submit" type="submit">Submit</button>
        {% endif %}

    </div>
 </form>
</div>


          </div>



      </div>
    </div>





{% endblock content %}