{% extends 'con_menus.html' %}
{% block content %}


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">



<h5 class="fw-bold">Update Role</h5>
<div class="card mt-3">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">




            <div class="mb-3 col-md-6" id="dbCol">
                <label class="form-label">Role Name</label>
                <input type="text" class="form-control" id="rolename" name="rolename" value="{{ obj.user_role }}" required>
            </div>
            
                <div class="mb-3 col-md-6" id="dbCol">
                    <label for="dbConnection" class="form-label">Status</label>
                    <select class="form-control" id="status" name="status">
                        {% if obj.active == 'Active' %}
                            <option value="Active" selected>Active</option>
                            <option value="In-Active">In-Active</option>
                        {% else %}
                            <option value="Active">Active</option>
                            <option value="In-Active" selected>In-Active</option>
                        {% endif %}
                    </select>
                </div>
            
                <div class="mb-3" id="dbCol">
                    <label for="dbConnection" class="form-label">User Privilege</label>
                    <div class="">
                        <div class="list-group">
                            {% for obj in click_user_privileges %}
                                <label class="list-group-item">


                                    <input class="form-check-input me-1" name="userpri" type="checkbox"
                                           value="{{ obj.psk_id }}"
                                           {% if obj.psk_id in user_privi_list %}checked{% endif %}>

                                    {{ obj.menu_privilege_name }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            
            
              
            
             <div class="mb-3 col-md-6" id="dbCol">
                <label class="form-label">Dashboard Name</label>
                <input type="text" class="form-control" id="dashboard_name" name="dashboard_name" value="{{ obj.user_dashboard_name }}" required>
            </div>
            
            <div class="mb-3 col-md-6" id="dbCol">
                <label class="form-label">Dashboard Url</label>
                <input type="text" class="form-control" id="dashboard_url" name="dashboard_url" value="{{ obj.user_dashboard_url }}" required>
            </div>


                <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
            </div>


        </form>
    </div>
</div>
</div>





{% endblock content %}



