{% extends 'phdbase.html' %}
{% load static %} 
{% block content %}
 <!-- {{main_api_data}} -->
{#    <div class="card">#}
{#<div class="invoice-print p-12">#}
{#    <div class="d-flex justify-content-between flex-row">#}
{#      <div class="mb-6">#}
{#        <div class="d-flex svg-illustration mb-6 gap-2 align-items-center">#}
{##}
{#          {%for obj in main_api_data %}#}
{#        </div>#}
{#        <p class="mb-1">Institution Name : {{obj.institution_name}}</p>#}
{#        <p class="mb-1">Document No : {{obj.document_id}}</p>#}
{#        <p class="mb-1">Course Code : {{obj.course_code}}</p>#}
{#        <p class="mb-1">Academic Year : {{obj.accademic_year}}</p>#}
{#        <p class="mb-1">GSTIN : {{obj.institution_gstin}}</p>#}
{#        <p class="mb-1">Address : {{obj.institution_address_text}}</p>#}
{#      </div>#}
{##}
{#      <div>#}
{#        <h5 class="mb-6">INVOICE #86423</h5>#}
{#        <div class="mb-1">#}
{#          <span>Date Issues:</span>#}
{#          <span>{{obj.document_date}}</span>#}
{#        </div>#}
{##}
{#        <div>#}
{#          <span>Date Due:</span>#}
{#          <span>{{obj.gov_order_date}}</span>#}
{#        </div>#}
{#      </div>#}
{#      {%endfor%}#}
{#    </div>#}
{##}
{#    <hr class="mb-6" />#}
{##}
{#    <div class="row d-flex justify-content-between mb-6">#}
{#      <div class="col-sm-6 w-50">#}
{#        <h6>Invoice To:</h6>#}
{#        <p class="mb-1">Public Health Department</p>#}
{#        <p class="mb-1">Address: No.359</p>#}
{#        <p class="mb-1">Anna Salai, DMS Campus</p>#}
{#        <p class="mb-1">Teynampet , Chennai- 600006</p>#}
{#        <p class="mb-0">Phone: +91-44-29510 167/183/136</p>#}
{#        <p class="mb-0">Email: dphpm.tn@nic.in</p>#}
{#      </div>#}
{#      <!-- <div class="col-sm-6 w-50">#}
{#        <h6>Bill To:</h6>#}
{#        <table>#}
{#          <tbody>#}
{#            <tr>#}
{#              <td class="pe-4">Total Due:</td>#}
{#              <td>$12,110.55</td>#}
{#            </tr>#}
{#            <tr>#}
{#              <td class="pe-4">Bank name:</td>#}
{#              <td>American Bank</td>#}
{#            </tr>#}
{#            <tr>#}
{#              <td class="pe-4">Country:</td>#}
{#              <td>United States</td>#}
{#            </tr>#}
{#            <tr>#}
{#              <td class="pe-4">IBAN:</td>#}
{#              <td>ETD95476213874685</td>#}
{#            </tr>#}
{#            <tr>#}
{#              <td class="pe-4">SWIFT code:</td>#}
{#              <td>BR91905</td>#}
{#            </tr>#}
{#          </tbody>#}
{#        </table>#}
{#      </div> -->#}
{#    </div>#}
{##}
{#    <div class="table-responsive border border-bottom-0 rounded">#}
{#      <table class="table m-0">#}
{#        <thead>#}
{#          <tr>#}
{#            <th>For </th>#}
{#            <th>Description</th>#}
{#            <th>Amount</th>#}
{#            <th>Mode of Payment</th>#}
{#            <th>Payment Reference Number</th>#}
{#            <th>Status</th>#}
{#          </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#          <tr>#}
{#            <td>Public Health Department</td>#}
{#            <td>Application Fee</td>#}
{#            <td>5000/-</td>#}
{#            <td>Netbanking</td>#}
{#            <td>Razorpay - pay_Q72VzJn9qSxDjg</td>#}
{#            <td><span class="badge rounded bg-label-success">Success</span></td>#}
{#          </tr>#}
{#        </tbody>#}
{#      </table>#}
{#    </div>#}
{#    <div class="table-responsive">#}
{#      <table class="table m-0 table-borderless">#}
{#        <tbody>#}
{#          <tr>#}
{#            <!-- <td class="align-top px-6 py-6">#}
{#              <p class="mb-1">#}
{#                <span class="me-2 fw-medium">Salesperson:</span>#}
{#                <span>Alfie Solomons</span>#}
{#              </p>#}
{#              <span>Thanks for your business</span>#}
{#            </td> -->#}
{#            <td class="px-0 py-12 w-px-100">#}
{#              <p class="mb-2">Subtotal:</p>#}
{#              <p class="mb-2">Discount:</p>#}
{#              <p class="mb-2 border-bottom pb-2">Tax:</p>#}
{#              <p class="mb-0 pt-2">Total:</p>#}
{#            </td>#}
{#            <td class="text-end px-0 py-6 w-px-100">#}
{#              <p class="fw-medium mb-2">5000.00</p>#}
{#              <p class="fw-medium mb-2">00.00</p>#}
{#              <p class="fw-medium mb-2 border-bottom pb-2">00.00</p>#}
{#              <p class="fw-medium mb-0 pt-2">5000.00</p>#}
{#            </td>#}
{#          </tr>#}
{#        </tbody>#}
{#      </table>#}
{#    </div>#}
{##}
{#    <hr class="mt-0 mb-6" />#}
{#    <div class="row">#}
{#      <div class="col-12">#}
{#<div class="text-end">#}
{##}
{#                <a href="{% url 'downloadapplication' %}" class="btn btn-primary">#}
{#                  <span class="me-2">Next</span>#}
{#                  <i class="icon-base bx bx-right-arrow-alt scaleX-n1-rtl"></i>#}
{#                </a>#}
{##}
{##}
{#    </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}



    <div class="card">
<div class="invoice-print p-12">
    <div class="d-flex justify-content-between flex-row">
      <div class="mb-6">
        <div class="d-flex svg-illustration mb-6 gap-2 align-items-center">

          {%for obj in main_api_data %}
        </div>
        <p class="mb-1">Institution Name : {{obj.institution_name}}</p>
        <p class="mb-1">Document No : {{obj.document_id}}</p>
        <p class="mb-1">Course Code : {{obj.course_code}}</p>
        <p class="mb-1">Academic Year : {{obj.accademic_year}}</p>
        <p class="mb-1">GSTIN : {{obj.institution_gstin}}</p>
        <p class="mb-1">Address : {{obj.institution_address_text}}</p>
      </div>

      <div>
        <h5 class="mb-6">INVOICE #86423</h5>
        <div class="mb-1">
          <span>Date Issues:</span>
          <span>{{obj.document_date}}</span>
        </div>

        <div>
          <span>Date Due:</span>
          <span>{{obj.gov_order_date}}</span>
        </div>
      </div>
      {%endfor%}
    </div>

    <hr class="mb-6" />

    <div class="row d-flex justify-content-between mb-6">
      <div class="col-sm-6 w-50">
        <h6>Invoice To:</h6>
        <p class="mb-1">Public Health Department</p>
        <p class="mb-1">Address: No.359</p>
        <p class="mb-1">Anna Salai, DMS Campus</p>
        <p class="mb-1">Teynampet , Chennai- 600006</p>
        <p class="mb-0">Phone: +91-44-29510 167/183/136</p>
        <p class="mb-0">Email: dphpm.tn@nic.in</p>
      </div>

    </div>

    <div class="table-responsive border border-bottom-0 rounded">
      <table class="table m-0">
        <thead>
          <tr>
            <th>For </th>
            <th>Description</th>
            <th>Amount</th>
            <th>Mode of Payment</th>
            <th>Payment Reference Number</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{razorpaydetails.payment_description}}</td>
            <td>Application Fee</td>
            <td>{{pay_amount}}</td>
            <td>{{razorpaydetails.payment_mode}}</td>
            <td>{{razorpaydetails.uuid}}</td>
            <td><span class="badge rounded bg-label-success">Success</span></td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="table-responsive">
      <table class="table m-0 table-borderless">
        <tbody>
          <tr>
            <td class="px-0 py-12 w-px-100">
              <p class="mb-2">Subtotal:</p>
              <p class="mb-2">Discount:</p>
              <p class="mb-2 border-bottom pb-2">Tax:</p>
              <p class="mb-0 pt-2">Total:</p>
            </td>
            <td class="text-end px-0 py-6 w-px-100">
              <p class="fw-medium mb-2">{{pay_amount}}</p>
              <p class="fw-medium mb-2">0.00</p>
              <p class="fw-medium mb-2 border-bottom pb-2">0.00</p>
              <p class="fw-medium mb-0 pt-2">{{pay_amount}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="text-end">

                <a href="{% url 'downloadapplication' %}" class="btn btn-primary">
                  <span class="me-2">Next</span>
                  <i class="icon-base bx bx-right-arrow-alt scaleX-n1-rtl"></i>
                </a>


    </div>

  </div>



    </div>

{% endblock content %}
