



{% extends 'phdbase.html' %}
{% load static %}
{% block content %}






   <h5 class="mt-2">Application / Nursing Proforma Details</h5>
    <div class="card mb-6">
      <div class="card-header p-0 nav-align-top">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#form-tabs-personal" role="tab" aria-selected="true">
              Institute Details
            </button>
          </li>
          <li class="nav-item" role="presentation">
{#            <button class="nav-link" data-bs-toggle="tab" id="phc-tab" data-bs-target="#form-tabs-student" role="tab" aria-selected="false" tabindex="-1">#}
{#              Student Details#}
{#            </button>#}
                <a class="nav-link" href="{% url 'nursing_student' 2 %}">
              Student Details
            </a>

          </li>
{#          <li class="nav-item" role="presentation">#}
{#            <button class="nav-link" data-bs-toggle="tab" id="phc-tab" data-bs-target="#form-tabs-phc" role="tab" aria-selected="false" tabindex="-1">#}
{#            PHC Details#}
{#            </button>#}
            <li>   <a class="nav-link" href="{% url 'nursing_phc_form' 2 %}">
             PHC Details
            </a></li>



            <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'nursing_check_list' 2 %}">
           Final Submission
            </a>
          </li>

        </ul>
      </div>

      <div class="tab-content">
        <!-- Personal Info -->
        <div class="tab-pane fade active show" id="form-tabs-personal" role="tabpanel">
          <form method="POST" action="#" enctype="multipart/form-data">
            {% csrf_token %}
                      <div class="card shadow">
                  <!-- Row 1 -->
                  <div class="row">
                      <!-- Column 1 -->
                      <div class="mb-3 col-md-6">
                          <label for="institute_name">Institute Name</label>
                          <input value="{{ obj.institution_name }}" type="text" name="institution_psk_id"
                                 class="form-control" placeholder="Enter Institute Name" readonly>
                      </div>

                      <!-- Column 2 -->
                      <div class="mb-3 col-md-6">
                          <label for="year_established">Year of Established</label>
                          <input value="{{ obj.year_of_established }}" type="text" name="year_of_establishment"
                                 class="form-control" placeholder="Enter Year Established" readonly>
                      </div>
                  </div>

                  <!-- Row 2 -->
                  <div class="row">
                      <!-- Column 3 -->

                      <div class="mb-3 col-md-6">
                          <label for="facility_type">Course</label>
                          <select class="select2 form-select" data-allow-clear="true" name="course_type_psk_id" plcaholder = "Select Couser"
                                  required onchange="applicationIdGenerateFunction(this)">
                          <option value="" selected disabled>-------Select Course-----</option>
                              {% for course in course_data %}
                              <option value="{{ course.psk_id }}">{{ course.course_name }}</option>
                             {% endfor %}
                          </select>
                      </div>


                      <div class="mb-3 col-md-6">
                          <label for="financial_year">Academic Year</label>
                          <input class="form-control" name="academic_year" type="text" value="{{ company.company_academic_year }}" readonly required>
                      </div>

                      <!-- Column 4 -->

                  </div>

                  <!-- Row 3 -->
                  <div class="row">
                      <!-- Column 5 -->
                      <div class="mb-3 col-md-6">
                          <label for="application_date">Application ID</label>
                          <input type="text" id="document_id" name="document_id" class="form-control" readonly>
                      </div>
                      <div class="mb-3 col-md-6">
                          <label for="application_date">Application Date</label>
                          <input type="date" name="document_date" class="form-control"
                                value="{{ current_date }}" placeholder="DD/MM/YYYY" readonly>
                      </div>

                  </div>

              </div>

          <hr>
<hr>
                <div class="row g-6 mt-4">

                  <div class="col-md-12">
                      <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">1.Copy of G.O in which
                          the
                          institution was permitted to start MBBS., MD., MS., Medical Course
                          <span class="text-danger fs-4">*</span></label>

                      <div class="row">
                          <div class="col">
                              <input type="text" name="gov_order_number" class="form-control" placeholder="G.O.NO" required>
                          </div>
                          <div class="col">
                              <input type="date" name="gov_order_date" class="form-control" required>
                          </div>
                          <div class="col">
                              <input type="file" name="gov_order_upload_uid" class="form-control"
                                     accept="application/pdf" required>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-12">
                      <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">2. Whether the
                          students of the
                          institution were already permitted for the practical training in PHC. If so copies
                          enclosed.</label>

                      <div class="row">
                          <div class="col" id="go1">
                              <input type="text" name="permitted_in_phc_gov_no" class="form-control"
                                     placeholder="G.O.NO">
                          </div>
                          <div class="col" id="go2">
                              <input type="date" name="permitted_in_phc_gov_date" class="form-control">
                          </div>
                          <div class="col" id="go3">
                              <input type="file" name="permitted_in_phc_upload_uid" class="form-control"
                                     accept="application/pdf">
                          </div>
                      </div>
                  </div>

                     <div class="col-md-12">
                     <label>3.	In case of Degree Nursing students, whether Tamil Nadu Nurses and Midwives Council has granted recognition to the institution to conduct Degree in Nursing course (Evidence Produced). <span class="text-danger fs-4">*</span></label>
                     <div class="row">

                         <div class="col">
                             <input type="text" name="tnnmc_gov_no" class="form-control" placeholder="G.O.NO"
                                    required>
                         </div>

                         <div class="col">
                             <input type="date" name="tnnmc_gov_date" class="form-control" required>
                         </div>

                         <div class="col">
                             <input type="file" id="tnnmc_gov_upload_uid" name="granted_recognition" class="form-control"
                                    required>
                         </div>


                     </div>

                 </div>


                     <div class="col-md-12">
                     <label>4.	Copy of the List of Recognized Colleges in the Tamil Nadu Nurses and Midwives Council Web site (Evidence Produced).<span class="text-danger fs-4">*</span></label>
                     <div class="row">

                         <div class="col">
                             <input type="text" name="recognized_colleges_list_tn_gov_no" class="form-control" placeholder="G.O.NO"
                                    required>
                         </div>

                         <div class="col">
                             <input type="date" name="recognized_colleges_list_tn_gov_date" class="form-control" required>
                         </div>

                         <div class="col">
                             <input type="file" name="recognized_colleges_list_tn_upload_uid" class="form-control"
                                    required>
                         </div>


                     </div>

                 </div>


                      <div class="col-md-12">
                                         <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">5.	In case of Degree Nursing students, whether Indian Nursing Council has granted recognition to the institution to conduct Degree in Nursing course (Evidence Produced) <span class="text-danger fs-4">*</span></label>

                                         <div class="row">
                                             <div class="col">
                                                 <input type="text" name="recognized_colleges_list_inc_gov_no" class="form-control" placeholder="G.O.NO"
                                                        required>
                                             </div>
                                             <div class="col">
                                                 <input type="date" name="recognized_colleges_list_inc_gov_date" class="form-control" required>
                                             </div>
                                             <div class="col">
                                                 <input type="file" name="recognized_colleges_list_inc_upload_uid" class="form-control" required>
                                             </div>
                                         </div>
                                     </div>

                        <div class="col-md-12">
                                         <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">6. Copy of the List of Recognized Colleges in the Indian Nursing Council Web site (Evidence Produced).</label>

                                         <div class="row">
                                             <div class="col">
                                                 <input type="text" name="inc_council_website_go_no" class="form-control" placeholder="G.O.NO"
                                                        >
                                             </div>
                                             <div class="col">
                                                 <input type="date" name="inc_council_website_go_date" class="form-control" >
                                             </div>
                                             <div class="col">
                                                 <input type="file" name="inc_council_website_upload_uid" class="form-control" >
                                             </div>
                                         </div>
                                     </div>

                    <div class="col-md-12">
                     <label>7.	Continuance of provisional affiliation granted by the Tamil Nadu MGR Medical University (Evidence Produced).<span class="text-danger fs-4">*</span></label>
                     <div class="row">

                         <div class="col">
                             <input type="text" name="affiliation_mgr_university_gov_no" class="form-control" placeholder="G.O.NO" required>
                         </div>

                         <div class="col">
                             <input type="date" name="affiliation_mgr_university_gov_date" class="form-control" required>
                         </div>

                         <div class="col">
                             <input type="file" name="affiliation_mgr_university_upload_uid" class="form-control" required>
                         </div>


                     </div>

                 </div>

                    <div class="col-md-12">
                        <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">8. Whether the
                            Management is willing to pay the fees prescribed by the Government to impart training to
                            their Medical students. <span class="text-danger fs-4">*</span></label>
                        <input type="file" name="pay_fees_by_upload_uid" class="form-control" required>
                    </div>

                    <div class="col-md-12">
                      <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">9.Own Hospital Detail (Copy of Memorandum of Understanding [MOU]) <span class="text-danger fs-4">*</span></label>
                     <div class="row">

                           <div class="col">
                             <input type="file" name="own_hospital_mou_upload_uid" class="form-control" required>
                         </div>

                     </div>
                 </div>

                    <div class="col-md-12">
                      <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">10. Own Hospital Detail (Certificate of Registration of Clinical Establishment Act.,) <span class="text-danger fs-4">*</span></label>
                     <div class="row">

                           <div class="col">
                             <input type="file" name="own_hospital_clinical_establishment_upload_uid" class="form-control" required>
                         </div>

                     </div>
                 </div>

                    <div class="col-md-12">
                     <label class="col-sm-3 col-form-label text-sm-end" for="formtabs-last-name">11. Previous Tie-Up with Public Health Department G.O and G.O date</label>

                     <div class="row">
                         <div class="col">
                             <input type="text" name="previous_tieup_gov_no" class="form-control" placeholder="G.O.NO">
                         </div>
                         <div class="col">
                             <input type="date" name="previous_tieup_gov_date" class="form-control">
                         </div>
                         <div class="col">
                             <input type="file" name="pervious_tieup_upload_uid" class="form-control">
                         </div>
                     </div>
                 </div>

               <div class="col-md-12">
                      <label>12.No due certificate of your previous batch of the internship training fees payment (Model Enclosed) along with a copy of the challan duly authenticated by the Chairman of the Trust <span class="text-danger fs-4">*</span></label>
                     <div class="row">
                           <div class="col">
                             <input type="file" name="no_dues_certificate_upload_uid" class="form-control" required>
                         </div>

                     </div>
                 </div>

                    <div class="col-md-12">
                      <label class="col-sm-3 col-form-label" for="formtabs-last-name">13.Consent Letter for 1000 Sq.Ft building<span class="text-danger fs-4">*</span></label>
                     <div class="row">
                           <div class="col">
                             <input type="file" name="consent_letter_building_upload_uid" class="form-control" required>
                         </div>

                     </div>
                 </div>


              </div>

            <div class="row mt-6">
              <div class="col-md-6">

                  <div class="col-sm-9">

                            <button type="submit" class="btn btn-primary me-3">Save</button>
                  </div>

              </div>
            </div>
          </form>
        </div>



          <div class="tab-pane fade" id="form-tabs-student" role="tabpanel">
              <div class="card-body pt-0 px-0">
                  <h6>Please first register the institute details.</h6>
                  <p>After that, add the Student details.</p>

              </div>
          </div>

               <div class="tab-pane fade" id="form-tabs-phc" role="tabpanel">
              <div class="card-body pt-0 px-0">
                  <h6>Please first register the institute details.</h6>
                  <p>After that, add the PHC details.</p>

              </div>
          </div>

      </div>
    </div>


        <script>

    function applicationIdGenerateFunction(selectElement) {
            let course = selectElement.value;
            $.ajax({
            url: "{% url 'ajax_application_id' %}",
            data: {course_id: course},
            success: function (data) {

                document.getElementById('document_id').value=data.application_id;
            },

            error: function (error) {
                console.error("Error:", error);
            }

        });

        }
    </script>



{% endblock content %}