<!doctype html>
{% load static %}
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'assets/' %}"
  data-template="vertical-menu-template"
  data-style="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

        <title>{{ favicon_caption}}</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ favicon_logo }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/flatpickr/flatpickr.css' %}" />
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css' %}" />
    <!-- Form Validation -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/@form-validation/form-validation.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/bs-stepper/bs-stepper.css' %} "/>
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/select2/select2.css' %} " />


  <div class="nav-align-top py-5">
        <ul class="nav nav-pills flex-column flex-md-row mb-6 row-gap-2 flex-wrap">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registerpage' %}"><i class="icon-base bx bx-lock icon-18px me-1_5"></i>Register Form</a>
          </li>
              <li class="nav-item">
            <a class="nav-link active" href=""><i class="icon-base bx bx-user icon-18px me-1_5"></i>Contact</a>
          </li>

        </ul>
      </div>



      <div class="col-12">
          <div class="card">
              <h5 class="card-header">Add Contact Details</h5>
              <div class="card-body">
                  <form class="form-repeater" method="post">
                      {% csrf_token %}
                      <div data-repeater-list="group-a">
                          <div data-repeater-item="">
                              <div class="row">
                                  <div class="mb-6 col-lg-6 col-xl-3 col-12 mb-0">
                                      <label class="form-label" for="form-repeater-1-1">Name</label>
                                      <input type="text" name="name" class="form-control">
                                  </div>

                                  <div class="mb-6 col-lg-6 col-xl-3 col-12 mb-0">
                                      <label class="form-label" for="form-repeater-1-2">Email</label>
{#                                      <input type="email" id="form-repeater-1-2" class="form-control">#}
                                      <input type="text" id="form-repeater-1-2" class="form-control">
                                  </div>

                                  <div class="mb-6 col-lg-6 col-xl-2 col-12 mb-0">
                                      <label class="form-label" for="form-repeater-1-3">Contact Type</label>
                                      <select id="form-repeater-1-3" class="form-select">
                                          <option value="Principal">Principal</option>
                                          <option value="A.O">A.O</option>
                                          <option value="Others">Others</option>
                                      </select>
                                  </div>

                                  <div class="mb-6 col-lg-6 col-xl-2 col-12 mb-0">
                                      <label class="form-label" for="form-repeater-1-2">Phone Number</label>
                                      <input type="text" id="form-repeater-1-2" class="form-control">
                                  </div>


                                  <div class="mb-6 col-lg-12 col-xl-2 col-12 d-flex align-items-end mb-0">
                                      <button class="btn btn-label-success" data-repeater-delete="">
                                          <i class="icon-base bx bx-check me-1"></i>
                                          <span class="align-middle">Save</span>
                                      </button>
                                  </div>

                                           </form>
                              </div>
                              <hr>
                          </div>
                      </div>



<div class="row">
  <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="card-info">
              <p class="text-heading mb-1">Mani</p>
              <div class="d-flex align-items-center mb-1">
              Type :   Principal
              </div>
                 <div class="d-flex align-items-center mb-1">
                <span class="text-success">Ph : 6383238589</span>
              </div>
               <span class="text-info">Email : mani8155@gmail.com</span>
            </div>
            <div class="card-icon">
              <span class="badge bg-label-primary rounded p-2">
                <i class="icon-base bx bx-trending-up icon-lg"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="card-info">
              <p class="text-heading mb-1">Mani</p>
              <div class="d-flex align-items-center mb-1">
              Type :   Principal
              </div>
                 <div class="d-flex align-items-center mb-1">
                <span class="text-success">Ph : 6383238589</span>
              </div>
               <span class="text-info">Email : mani8155@gmail.com</span>
            </div>
            <div class="card-icon">
              <span class="badge bg-label-primary rounded p-2">
                <i class="icon-base bx bx-trending-up icon-lg"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <hr>


                      <div class="col-12 text-end">
                          <a href="{% url 'applicant_verification' 1 %}" class="btn btn-primary" data-repeater-create="">
                              <i class="icon-base bx bx-arrow-from-left me-1"></i>
                              <span class="align-middle">Next</span>
                          </a>
                      </div>

              </div>
          </div>
      </div>


      <div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                     class="bs-toast toast toast-placement-ex m-2 bg-danger top-0 end-0 fade show">
                    <div class="toast-header">
                        <i class='bx bxs-error-alt'></i>&nbsp;
                        <div class="me-auto fw-semibold">Error</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>
                {% elif message.tags == "success" %}
                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                     class="bs-toast toast toast-placement-ex m-2 bg-success top-0 end-0 fade show">
                    <div class="toast-header">
                        <i class='bx bx-list-check'></i>&nbsp;
                        <div class="me-auto fw-semibold">Success</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>
                {% elif message.tags == "info" %}
                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                     class="bs-toast toast toast-placement-ex m-2 bg-info top-0 end-0 fade show">
                    <div class="toast-header">
                        <i class='bx bx-list-check'></i>&nbsp;
                        <div class="me-auto fw-semibold">info</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>

                {% endif %}
            {% endfor %}
        {% endif %}


    </div>
</div>




    <!-- Core JS -->
<script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/vendor/libs/hammer/hammer.js' %}"></script>
<script src="{% static 'assets/vendor/libs/i18n/i18n.js' %}"></script>
<script src="{% static 'assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>
<script src="{% static 'assets/vendor/js/menu.js' %}"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="{% static 'assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<!-- Flat Picker -->
<script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/vendor/libs/flatpickr/flatpickr.js' %}"></script>
<!-- Form Validation -->
<script src="{% static 'assets/vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'assets/vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'assets/vendor/libs/@form-validation/auto-focus.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'assets/js/tables-datatables-basic.js' %}"></script>

