{% extends 'layout.html' %}
{% load static %}
{% block content %}

<!-- Content -->
<div class="card" data-select2-id="7">
    <h5 class="card-header">Health Unit District</h5>
    <div class="card-body" data-select2-id="6">
        <form id="hud_form" class="row g-6 fv-plugins-bootstrap5 fv-plugins-framework" action="#" method="POST" data-select2-id="formValidationExamples">
            <!-- HUD Details -->
            {% csrf_token %}
            {% comment %} <div class="col-12">
                <h6>HUD Detail</h6>
                <hr class="mt-0">
            </div> {% endcomment %}

            <!-- District/Directorate ID -->
            {% comment %} <div class="col-md-4 fv-plugins-icon-container">
                <label class="form-label" for="district_psk_id">District/Directorate ID</label>
                <input type="number" id="district_psk_id" class="form-control" placeholder="Enter District/Directorate ID" name="district_psk_id">
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div> {% endcomment %}

            <div class="col-md-4 fv-plugins-icon-container">
                <label class="form-label" for="district_psk_id">District/Directorate ID</label>
                <select id="district_psk_id" class="form-control" name="district_psk_id" value="{{district_id.district_name}}" required>
                    <option value="">Select District/Directorate ID</option>
                    {% for obj in district_data %}
                        <option value="{{ obj.psk_id }}">{{ obj.district_code }}</option>
                    {% endfor %}
                </select>
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>

            <!-- HUD Code -->
            <div class="col-md-4 fv-plugins-icon-container">
                <label class="form-label" for="hud_code">HUD Code</label>
                <input type="text" id="hud_code" class="form-control" placeholder="Enter HUD Code" name="hud_code">
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>

            <!-- HUD Name -->
            <div class="col-md-4 fv-plugins-icon-container">
                <label class="form-label" for="hud_name">HUD Name</label>
                <input type="text" id="hud_name" class="form-control" placeholder="Enter HUD Name" name="hud_name">
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>

            <!-- HUD Address -->
            <div class="col-md-4 fv-plugins-icon-container">
                <label class="form-label" for="hud_address">HUD Address</label>
                <input type="text" id="hud_address" class="form-control" placeholder="Enter HUD Address" name="hud_address">
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>

            <!-- HUD Phone -->
            <div class="col-md-4 fv-plugins-icon-container">
                <label class="form-label" for="hud_phone">Phone</label>
                <input type="text" id="hud_phone" class="form-control" placeholder="Enter HUD Phone" name="hud_phone">
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>

            <!-- HUD Mobile -->
            <div class="col-md-4 fv-plugins-icon-container">
                <label class="form-label" for="hud_mobile">Mobile</label>
                <input type="text" id="hud_mobile" class="form-control" placeholder="Enter HUD Mobile" name="hud_mobile">
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>

            <!-- HUD Contact Person -->
            <div class="col-md-4 fv-plugins-icon-container">
                <label class="form-label" for="hud_contact_person">Contact Person</label>
                <input type="text" id="hud_contact_person" class="form-control" placeholder="Enter HUD Contact Person" name="hud_contact_person">
                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>

            <!-- Active (Boolean) -->
            <div class="col-md-2">
                <br/>
                <label class="switch switch-datk">
                    <input type="checkbox" class="switch-input" name="active" checked />
                    <span class="switch-toggle-slider">
                        <span class="switch-on">
                            <i class="bx bx-check"></i>
                        </span>
                        <span class="switch-off">
                            <i class="bx bx-x"></i>
                        </span>
                    </span>
                    <span class="switch-label">Active</span>
                </label>
            </div>
        

            <!-- Buttons -->
            <div class="col-12 text-end">
                <button type="submit" name="submitButton" class="btn btn-primary">Save</button>
                <a href="{% url 'hud_list_Master' %}" class="btn btn-primary">Cancel</a>
            </div>

            <input type="hidden">
        </form>
    </div>
</div>

<!--/ Content -->

{% endblock content %}
