{% extends 'phdbase.html' %}
{% load static %} 
{% block content %}

    {% if application_obj.application_status == "Draft" %}
        <h5 class="mt-2">Application / ANM Proforma Details / <span
                class="badge bg-label-danger">{{ application_obj.application_status }}</span></h5>
    {% else %}
        <h5 class="mt-2">Application / ANM Proforma Details / <span
                class="badge bg-label-success">{{ application_obj.application_status }}</span></h5>
    {% endif %}

<div class="card mb-6">
  <div class="card-header p-0 nav-align-top">
    <ul class="nav nav-tabs" role="tablist">

          <li class="nav-item" role="presentation">
                <a class="nav-link" href="{% url 'anm_update' rec_parent_id %}">
              Institute Details
            </a>

          </li>

      <li class="nav-item" role="presentation">
        <!-- Change to proper tab link format -->
        <a class="nav-link active" id="student-details-tab" data-bs-toggle="tab" href="#form-tabs-account" role="tab" aria-selected="true">
          Student Details
        </a>
      </li>


        <li>   <a class="nav-link" href="{% url 'anm_phc_form' rec_parent_id %}">
             PHC Details
            </a></li>

         <li class="nav-item" role="presentation">
            <a class="nav-link" href="{% url 'anm_check_list' rec_parent_id %}">
           Final Submission
            </a>
          </li>

    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="form-tabs-account" role="tabpanel" aria-labelledby="student-details-tab">

      <div class="card-body pt-0 px-0">

        <form class="form-control" method="POST">
          {% csrf_token %}
          <div class="mb-4" data-repeater-list="group-a">
            <div class="repeater-wrapper " data-repeater-item>
              <div class="d-flex border rounded position-relative pe-0">
                <div class="row w-100 p-6 g-6">

                  <div class="col-md-3 col-12 mb-md-0 mb-4">
                    <p class="h6 repeater-title">Course Name</p>
                    <input type="text" id="course_name" name="course_name" value="{{ course_name }}" class="form-control" readonly>
                  </div>

                    <div class="col-md-2 col-12 mb-md-0 mb-4">
                        <p class="h6 repeater-title">Year</p>
                        <select class="select2 form-select form-select" data-allow-clear="true" type="text"
                                id="year_or_semester" name="year_or_semester">
                            <option value="" selected="" disabled>-- Select --</option>

                              {% for year_obj in  course_years_list %}
                                  <option value="{{ year_obj }}">{{ year_obj }}</option>
                            {% endfor %}
                            </select>

                  </div>

                  <div class="col-md-2 col-12 mb-md-0 mb-4">
                    <p class="h6 repeater-title">No of Student</p>
                    <input type="number" id="no_of_students" name="no_of_students" class="form-control" placeholder="No of Student">
                  </div>
                  <div class="col-md-2 col-12 mb-md-0 mb-4">
                    <p class="h6 repeater-title">Training Period</p>
                    <select class="select2 form-select form-select" data-allow-clear="true" type="text" id="training_period" name="training_period" >
                      <option value="">-- Select --</option>
                      <option value="days">No of days</option>
                      <option value="weeks">No of weeks</option>
                      <option value="month">No of Month</option>
                    </select>
                  </div>
                  <div class="col-md-2 col-12 mb-md-0 mb-4">
                    <p class="h6 repeater-title">No of Period</p>
                    <input type="number" id="no_of_period" name="no_of_period" class="form-control" placeholder="No of Period">
                  </div>

                    {% if application_obj.application_status == "Draft" %}
                        <div class="col-md-1 col-12 mb-md-0 mb-4">
                            <p class="h6 repeater-title" style="visibility:hidden;">No of </p>
                            <button type="submit" class="btn btn-label-success">
                                <i class="bx bx-check-square bx-xs me-1_5"></i>Save
                            </button>
                        </div>

                    {% endif %}

                </div>


              </div>
            </div>
          </div>


        </form>


                 <table class="table mt-5">
            <thead>
            <tr>
                <th>Course Name</th>
                <th>Year</th>
                <th>No of Students</th>
                <th>Training Period</th>
                <th>No of Period</th>
                <th>Action</th> <!-- For the save button -->
            </tr>
            </thead>
            <tbody>
            {% for obj in student_data %}
            <tr>
                <td>{{ course_name }}</td>
                <td>{{ obj.year_or_semester }}</td>
                <td>{{ obj.no_of_students }}</td>
                <td>{{ obj.training_period }}</td>
                <td>{{ obj.no_of_period }}</td>
                <td>
                    {% if application_obj.application_status == "Draft" %}
                        <a href="{% url 'delete_anm_student' obj.psk_id rec_parent_id %}"
                           class="btn btn-icon btn-outline-danger"><i class="bx bx-trash bx-xs me-1_5"></i></a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>

      </div>



      <div class="col-12 d-flex justify-content-between">
             <a class="btn btn-label-secondary btn-prev" href="{% url 'anm_update' rec_parent_id %}">

                    <i class="icon-base bx bx-left-arrow-alt scaleX-n1-rtl icon-sm ms-sm-n2 me-sm-2"></i>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </a>
                  <a class="btn btn-primary btn-next" href="{% url 'anm_phc_form' rec_parent_id %}">
                    <span class="align-middle d-sm-inline-block d-none me-sm-2">Next</span>
                    <i class="icon-base bx bx-right-arrow-alt scaleX-n1-rtl icon-sm me-sm-n2"></i>
                  </a>
                </div>
    </div>


     <div class="tab-pane fade" id="form-tabs-phc" role="tabpanel">
              <div class="card-body pt-0 px-0">
                  <h6>Please first register the Students details.</h6>
                  <p>After that, add the PHC details.</p>

              </div>
          </div>


  </div>
</div>


{% endblock content %}